<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="fc118e012dc94a5f995df4e9c23c2d36" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_fc118e012dc94a5f995df4e9c23c2d36 = echarts.init(
            document.getElementById('fc118e012dc94a5f995df4e9c23c2d36'), 'white', {renderer: 'canvas'});
        var option_fc118e012dc94a5f995df4e9c23c2d36 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "2017\u4e0e18\u5e74\u5168\u56fd\u5404\u7701",
            "symbolSize": 10,
            "data": [
                [
                    3.43,
                    62361.22
                ],
                [
                    4.11,
                    39506.15
                ],
                [
                    3.11,
                    23445.65
                ],
                [
                    2.36,
                    21990.14
                ],
                [
                    3.9,
                    28375.65
                ],
                [
                    3.95,
                    29701.45
                ],
                [
                    4.75,
                    22798.37
                ],
                [
                    5.12,
                    22725.85
                ],
                [
                    2.44,
                    64182.65
                ],
                [
                    3.54,
                    38095.79
                ],
                [
                    2.71,
                    45839.84
                ],
                [
                    3.88,
                    23983.58
                ],
                [
                    2.72,
                    32643.93
                ],
                [
                    2.7,
                    24079.68
                ],
                [
                    2.74,
                    29204.61
                ],
                [
                    3.4,
                    21963.54
                ],
                [
                    3.4,
                    25814.54
                ],
                [
                    3.1,
                    25240.75
                ],
                [
                    2.03,
                    35809.9
                ],
                [
                    2.62,
                    21485.03
                ],
                [
                    2.1,
                    24579.04
                ],
                [
                    4.96,
                    26385.84
                ],
                [
                    3.76,
                    22460.55
                ],
                [
                    4.22,
                    18430.18
                ],
                [
                    2.77,
                    20084.19
                ],
                [
                    1.37,
                    17286.06
                ],
                [
                    3.34,
                    22528.26
                ],
                [
                    2.2,
                    17488.39
                ],
                [
                    2.85,
                    20757.26
                ],
                [
                    3.33,
                    22400.42
                ],
                [
                    2.41,
                    21500.24
                ],
                [
                    3.71,
                    57229.83
                ],
                [
                    3.78,
                    37022.33
                ],
                [
                    3.1,
                    21484.13
                ],
                [
                    2.23,
                    20420.01
                ],
                [
                    4.0,
                    26212.23
                ],
                [
                    3.81,
                    27835.44
                ],
                [
                    4.9,
                    21368.32
                ],
                [
                    5.19,
                    21205.79
                ],
                [
                    2.43,
                    58987.96
                ],
                [
                    3.59,
                    35024.09
                ],
                [
                    2.8,
                    42045.69
                ],
                [
                    3.89,
                    21863.3
                ],
                [
                    2.72,
                    30047.75
                ],
                [
                    2.41,
                    22031.45
                ],
                [
                    2.73,
                    26929.94
                ],
                [
                    3.32,
                    20170.03
                ],
                [
                    3.38,
                    23757.17
                ],
                [
                    3.03,
                    23102.71
                ],
                [
                    1.99,
                    33003.29
                ],
                [
                    2.47,
                    19904.76
                ],
                [
                    1.93,
                    22553.24
                ],
                [
                    4.93,
                    24152.99
                ],
                [
                    3.76,
                    20579.82
                ],
                [
                    3.77,
                    16703.65
                ],
                [
                    2.66,
                    18348.34
                ],
                [
                    1.2,
                    15457.3
                ],
                [
                    2.84,
                    20635.21
                ],
                [
                    2.07,
                    16011.0
                ],
                [
                    2.76,
                    19001.02
                ],
                [
                    3.27,
                    20561.66
                ],
                [
                    3.07,
                    19975.1
                ],
                [
                    4.89,
                    52530.38
                ],
                [
                    4.24,
                    34074.46
                ],
                [
                    2.96,
                    19725.42
                ],
                [
                    2.09,
                    19048.88
                ],
                [
                    3.92,
                    24126.64
                ],
                [
                    3.65,
                    26039.7
                ],
                [
                    4.71,
                    19966.99
                ],
                [
                    4.91,
                    19838.5
                ],
                [
                    3.41,
                    54305.35
                ],
                [
                    3.27,
                    32070.1
                ],
                [
                    2.65,
                    38529.0
                ],
                [
                    3.54,
                    19998.1
                ],
                [
                    2.51,
                    27607.93
                ],
                [
                    2.24,
                    20109.56
                ],
                [
                    2.58,
                    24685.27
                ],
                [
                    2.93,
                    18443.08
                ],
                [
                    3.13,
                    21786.64
                ],
                [
                    2.85,
                    21114.79
                ],
                [
                    1.95,
                    30295.8
                ],
                [
                    2.35,
                    18305.08
                ],
                [
                    1.83,
                    20653.44
                ],
                [
                    4.6,
                    22034.14
                ],
                [
                    3.61,
                    18808.26
                ],
                [
                    3.43,
                    15121.15
                ],
                [
                    2.52,
                    16719.9
                ],
                [
                    1.08,
                    13639.24
                ],
                [
                    2.67,
                    18873.74
                ],
                [
                    1.94,
                    14670.31
                ],
                [
                    2.58,
                    17301.76
                ],
                [
                    2.92,
                    18832.28
                ],
                [
                    3.98,
                    18354.65
                ],
                [
                    3.79,
                    48457.99
                ],
                [
                    3.36,
                    31291.36
                ],
                [
                    2.68,
                    18118.09
                ],
                [
                    1.97,
                    17853.67
                ],
                [
                    3.66,
                    22310.09
                ],
                [
                    3.48,
                    24575.58
                ],
                [
                    4.63,
                    18683.7
                ],
                [
                    4.98,
                    18592.65
                ],
                [
                    2.76,
                    49867.17
                ],
                [
                    2.87,
                    29538.85
                ],
                [
                    2.52,
                    35537.09
                ],
                [
                    2.95,
                    18362.57
                ],
                [
                    2.33,
                    25404.36
                ],
                [
                    2.08,
                    18437.11
                ],
                [
                    2.45,
                    22703.19
                ],
                [
                    2.66,
                    17124.75
                ],
                [
                    2.85,
                    20025.56
                ],
                [
                    2.67,
                    19317.49
                ],
                [
                    1.78,
                    27858.86
                ],
                [
                    2.18,
                    16873.42
                ],
                [
                    1.66,
                    18978.97
                ],
                [
                    4.55,
                    20110.11
                ],
                [
                    3.49,
                    17220.96
                ],
                [
                    3.07,
                    13696.61
                ],
                [
                    2.3,
                    15222.57
                ],
                [
                    0.73,
                    12254.3
                ],
                [
                    2.57,
                    17394.98
                ],
                [
                    1.78,
                    13466.59
                ],
                [
                    2.17,
                    15812.7
                ],
                [
                    2.64,
                    17329.09
                ],
                [
                    4.31,
                    16859.11
                ],
                [
                    3.08,
                    44488.57
                ],
                [
                    2.98,
                    28832.29
                ],
                [
                    2.52,
                    16647.4
                ],
                [
                    1.8,
                    16538.32
                ],
                [
                    3.54,
                    20559.34
                ],
                [
                    3.48,
                    22820.15
                ],
                [
                    4.44,
                    17520.39
                ],
                [
                    4.88,
                    17404.39
                ],
                [
                    2.54,
                    45965.83
                ],
                [
                    2.75,
                    27172.77
                ],
                [
                    2.47,
                    32657.57
                ],
                [
                    2.82,
                    16795.52
                ],
                [
                    2.3,
                    23330.85
                ],
                [
                    1.97,
                    16734.17
                ],
                [
                    2.4,
                    20864.21
                ],
                [
                    2.45,
                    15695.18
                ],
                [
                    2.71,
                    18283.23
                ],
                [
                    2.62,
                    17621.74
                ],
                [
                    1.67,
                    25684.96
                ],
                [
                    2.13,
                    15557.08
                ],
                [
                    1.57,
                    17476.46
                ],
                [
                    4.45,
                    18351.9
                ],
                [
                    3.38,
                    15749.01
                ],
                [
                    2.73,
                    12371.06
                ],
                [
                    2.14,
                    13772.21
                ],
                [
                    0.84,
                    10730.22
                ],
                [
                    2.26,
                    15836.75
                ],
                [
                    1.63,
                    12184.71
                ],
                [
                    2.16,
                    14373.98
                ],
                [
                    2.4,
                    15906.78
                ],
                [
                    4.74,
                    15096.62
                ],
                [
                    3.06,
                    40830.04
                ],
                [
                    3.07,
                    26359.2
                ],
                [
                    2.44,
                    15189.64
                ],
                [
                    1.68,
                    15119.72
                ],
                [
                    3.23,
                    18692.89
                ],
                [
                    3.47,
                    20817.84
                ],
                [
                    4.51,
                    15998.12
                ],
                [
                    4.65,
                    15903.45
                ],
                [
                    2.88,
                    42173.64
                ],
                [
                    2.73,
                    24775.54
                ],
                [
                    2.41,
                    29774.99
                ],
                [
                    2.59,
                    15154.31
                ],
                [
                    2.19,
                    21217.95
                ],
                [
                    1.9,
                    15099.68
                ],
                [
                    2.31,
                    19008.26
                ],
                [
                    2.23,
                    14203.71
                ],
                [
                    2.6,
                    16472.46
                ],
                [
                    2.5,
                    16004.9
                ],
                [
                    1.66,
                    23420.75
                ],
                [
                    1.97,
                    14082.3
                ],
                [
                    1.47,
                    15733.28
                ],
                [
                    4.5,
                    16568.67
                ],
                [
                    3.31,
                    14230.99
                ],
                [
                    2.45,
                    11083.06
                ],
                [
                    1.95,
                    12577.87
                ],
                [
                    0.57,
                    9740.43
                ],
                [
                    2.14,
                    14371.55
                ],
                [
                    1.49,
                    10954.4
                ],
                [
                    1.87,
                    12947.84
                ],
                [
                    2.43,
                    14565.78
                ],
                [
                    4.82,
                    13669.62
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ],
                [
                    null,
                    null
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2017\u4e0e18\u5e74\u5168\u56fd\u5404\u7701"
            ],
            "selected": {
                "2017\u4e0e18\u5e74\u5168\u56fd\u5404\u7701": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": null
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2013-2018\u5e74\u4eba\u5747\u53ef\u652f\u914d\u6536\u5165\u4e0e\u79bb\u5a5a\u7387"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 9740.43,
        "max": 64182.65,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_fc118e012dc94a5f995df4e9c23c2d36.setOption(option_fc118e012dc94a5f995df4e9c23c2d36);
    </script>

    <table border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
               <tr>

				<th> 城市</th>
                <th> 离婚率 </th>
                <th> 人均可支配收入 </th>
                            </tr>
                    {% for i in data %}
                            <tr>
                                <td>{{ i.city }}x</td>
                                <td>{{ i.lhl or '' }}</td>
                                <td>{{ i.rj_gdp or '' }}</td>
                            </tr>
                    {% endfor %}
                </table>

</body>
</html>
